
/* 🔤 LETTER ANIMATION (LOOP) */
@keyframes letterFade {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  20% {
    opacity: 1;
    transform: translateY(0);
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0.6;
  }
}

.animate-letter {
  display: inline-block;
  animation: letterFade 3s ease-in-out infinite;
}


@keyframes floatImage {
  0% {
    transform: translateY(0px) rotate(0deg);
  }
  50% {
    transform: translateY(-14px) rotate(1.5deg);
  }
  100% {
    transform: translateY(0px) rotate(0deg);
  }
}

.animate-float {
  animation: floatImage 4s ease-in-out infinite;
}



@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

@keyframes marquee-reverse {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0%);
  }
}

.animate-marquee {
  animation: marquee 50s linear infinite;
}

.animate-marquee-reverse {
  animation: marquee-reverse 50s linear infinite;
}

/* OPTIONAL: pause on hover */
.animate-marquee:hover,
.animate-marquee-reverse:hover {
  animation-play-state: paused;
}
